.header-color {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: url(./assets/sunsetbeach.jpg) no-repeat center / 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}


.projects-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Resume Page ***********/
.resume-right-col {
  background: #27221f;
  color: #fff;
  padding: 2em;
}

/* Resume Page ***********/

/* About Me Page ***********/

.about-me {
  /* margin: 0 auto; */
  background: url(./assets/sunsetbeach.jpg) no-repeat center / 100%;
  background-size: cover;
  position: static;
  padding: 3%;
  width: 100%;
  height: 100%;
  
}


.about-paragraph {
  width: 50%;
  margin: 0 auto;
  background-color: black;
  opacity: 0.75;
  width: 55%;
  border-radius: 10px;
  padding: 1%;
  padding-bottom: 4%;
  border: 2px solid red;
}

.about-paragraph h1 {
  margin: 0;
  padding-top: 3%;
  color: white;
  text-align: center;
}
.about-paragraph p {
  margin: 0;
  padding-top: 3%;
  font-size: 1.3rem;
  color: white;
}

/* Contact Page ***********/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 56px;
  padding-right: 5rem;
}
/* Contact Page ********/

.avatar-img {
  height: 250px;
  margin-top: 5em;
  border-radius: 50%;
}

.banner-text {
  background-color: #c0252c;
  opacity: 0.75;
  width: 55%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* Break points */

@media only screen and (max-width: 1400px) {
  /* body {
    background-color: #242424;
  } */
  .landing-grid {
    /* background: url(./assets/sunsetbeach.jpg) no-repeat center / 100%; */
    background-size: cover;
    overflow: hidden;
    background-color: #242424;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    text-align: center;
    font-size: 0.5rem;
  }
  .landing-grid::-webkit-scrollbar {
  display: none;
}

  .landing-grid h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 58px;
  }
}


@media only screen and (max-width: 450px) {
  .landing-grid {
    background: url(./assets/sunsetbeach.jpg) no-repeat center / 120%;
    background-size: cover;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    text-align: center;
    font-size: 0.5rem;
  }
  .landing-grid h1 {
    font-size: 2rem;
  }
}
